chroma-hnswlib==0.7.3
chromadb==0.4.15
langchain==0.0.330
openai==0.28.1
pandas==2.1.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
sentence-transformers==2.2.2
streamlit==1.28.1
